<div class="col-lg-12" ng-init="init()">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row">
            <div class="header rankingHeader"><i class="fa fa-trophy" aria-hidden="true"></i> TOP PLAYERS</div>
            <div class="table-responsive" style="font-size: 18px;">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Login</th>
                        <th>Wins</th>
                        <th>Loses</th>
                        <th>Ties</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer" data-ng-repeat="user in Users | orderBy : '-points' track by $index" data-ng-click="showUserProfile(user,$index+1)">
                        <td>#{{$index+1}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.wins}}</td>
                        <td>{{user.loses}}</td>
                        <td>{{user.ties}}</td>
                        <td>{{user.points}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>

</div>